body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

/*h4 {
  font-size: 5.9vw;
}*/
h5 {
  font-size: 2.3vh;
}
li {
  font-size: 2.0vh;
}
#edit-modal-link {
  font-size: 2.0vh;
}

.nav-wrapper {
  background-color: rgb(77, 149, 255);
}

.brand-logo {
  margin-left: 20px;
}


.user-login {
  width: 33%;
  margin-top: 10%;
  margin-left: 33%;
  margin-right: -33%;
  background-color: white;
}

#signup-form-submit {
  color: white;
}

#login-button {
  background-color: rgb(77, 149, 255);
}

#header {
  margin-top: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(77, 149, 255);
}

.about {
  width: 50%;
  margin-left: 25%;
  margin-right: -25%;
  margin-top: 1em;
}

.page-heading {
  margin-top: 2em;
  margin-left: 25%;
}

.#allstories-container {
  position: absolute;

}

#render-allstory {
  position: relative;
  top: 5%;
  width: 48%;
  background-color: rgb(242, 242, 242);
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5px;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(100, 100, 100);
}

.new-story-link-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30%;
  margin-right: -30%;
  width: 40%;
  text-align: center;
  color: darkblue;
  border: 2px solid darkblue;
<<<<<<< HEAD
  border-radius: 5px;
}

#new-story-modal {
  width: 95%;
  height: auto;
}

#new-story-textarea {
  width: 600px;
  height: 400px;
}

#new-story-modal-submit {
  background-color: rgb(77, 149, 255);
  text-align: center;
  border-radius: 5px;
}

#render-userstory {
  width: 100%;
  background-color: rgb(242, 242, 242);
  border: 1px solid lightgray;
  border-radius: 7px;
  /*margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5px;*/
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(100, 100, 100);
}
