<!-- Fonts -->


<!-- Stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<link rel="stylesheet" href="/css/styles.css">


<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="/js/scripts.js" charset="utf-8"></script>


<!-- Render Stories Templates -->
<!-- All Stories -->
<script id="allstories-template" type="text/x-handlebars-template">
  {{#grouped_each 2 stories}}
    <div class="row">
    {{#each this}}
      <div class="col s12 m6 l6" id="render-allstory">
        <h6><b>{{title}}</b></h6>
        <h6>{{date}}</h6>
        <h6>{{story}}</h6>
        <h6>{{tags:tag1}} {{tags:tag2}} {{tags:tag3}}</h6>
      </div>
    {{/each}}
  </div>
  {{/grouped_each}}
</script>


<!-- User Stories -->
<script id="userstories-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="row">
      <div class="col s12 m6 l6" id="render-userstory">
        <h6><b>{{title}}</b></h6>
        <h6>{{date}}</h6>
        <h6>{{story}}</h6>
        <h6>{{tags:tag1}} {{tags:tag2}} {{tags:tag3}}</h6>
      </div>
    </div>
  {{/each}}
</script>
