<!-- Fonts -->


<!-- Stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<link rel="stylesheet" href="/css/styles.css">


<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="/js/scripts.js" charset="utf-8"></script>


<!-- Render Stories Templates -->
<!-- All Stories -->
<script id="allstories-template" type="text/x-handlebars-template">
  {{#grouped_each 2 stories}}
    <div class="row">
    {{#each this}}
      <div class="col s12 m6 l6" id="render-allstory">
        <ul>
          <li><b>{{title}}</b></li>
          <li>{{date}}</li>
          <li>{{story}}</li>
          {{#tags}}
          <li>{{this.tag1}} {{this.tag2}} {{this.tag3}}</li>
          {{/tags}}
        </ul>
      </div>
    {{/each}}
  </div>
  {{/grouped_each}}
</script>


<!-- User Stories -->
<script id="userstories-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="row">
      <div class="col s12 m6 l6" id="render-userstory">
        <ul>
          <li><b>{{title}}</b></li>
          <li>{{date}}</li>
          <li>{{story}}</li>
          {{#tags}}
          <li>{{this.tag1}} {{this.tag2}} {{this.tag3}}</li>
          {{/tags}}
        </ul>
        <!-- <button id="edit-userstory-button" data-target="#edit-userstory-modal" class="btn-small modal-trigger">Edit</button> -->
        <!-- <a class="btn-small modal-trigger" href="#edit-story-modal">Edit</a> -->
        <a class="modal-trigger" href="#edit-story-modal" id="edit-modal-link">Edit</a>
      </div>
    </div>
  {{/each}}
</script>

<!-- {{#each movies}}
    <li>Movie{{this.moviePositionInChapter}}: {{this.movieName}}</li>
{{/each}} -->
