<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Stories</title>
    <% include ./partials/head %>
  </head>
  <body>

    <% include ./partials/headers/header_allstories %>
    <h4>All Stories</h4>
    <section class="container">

        <section id="allstories">
        </section>
    </section>
  </body>
</html>
