<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <% include ./partials/head %>
  </head>
  <body>

    <% include ./partials/headers/header_index %>
    

    <section class="login-content-block">
      <% include ./partials/loginManager %>
    </section>

    <% include ./partials/signupManager %>

  </body>
</html>
