<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Stories</title>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/headers/header_userstories %>

    <div class="new-story-link-container">
      <a class="modal-trigger" href="#new-story-modal" id="new-story-link"><h5>Write a new story</h5></a>
      <% include ./partials/newstory %>
    </div>

    <section class="container">
      <!-- <h5>Your Stories:</h5> -->

      <section id="userstories">

        <% include ./partials/editstory %>
      </section>
    </section>




  </body>
</html>
