<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Stories</title>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/headers/header_userstories %>
    <h4>User Stories</h4>
    <br>
    <br>
    <a class="modal-trigger" href="#new-story-modal">Write a new story</a>
    <% include ./partials/newstory %>

    <section class="container">
      <section id="userstories">

      </section>
    </section>

  </body>
</html>
